<div class="container">
    <h3>Internet Cryptography</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">Cryptography Method</div>
        <div class="panel-body">
            <button class="btn btn-default" (click)="encryptMethod = 'caesar'" [class.active]="encryptMethod === 'caesar'">Caesar Cipher</button>
            <button class="btn btn-default" (click)="encryptMethod = 'bcrypt'" [class.active]="encryptMethod === 'bcrypt'">bcrypt</button>
            <button class="btn btn-default" (click)="encryptMethod = 'ssl'" [class.active]="encryptMethod === 'ssl'">Simple SSL</button>
            
            <app-caesar *ngIf="encryptMethod === 'caesar'"></app-caesar>

            <app-bcrypt *ngIf="encryptMethod === 'bcrypt'" (output)="onOutput($event)"></app-bcrypt>

            <app-simplessl *ngIf="encryptMethod === 'ssl'" (output)="onOutput($event)" #simplessl></app-simplessl>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <input type="text" placeholder="Secret message" #input>
            <button class="btn btn-primary" (click)="onClickEncrypt($event)">Encrypt!</button>
            <button class="btn btn-info" (click)="clear()">Clear Output</button>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Output</div>
        <div class="panel-body">
            <p *ngFor="let hash of hashes"><code>{{ hash }}</code></p>
        </div>
    </div>

</div>